In [2]:
import numpy as np
import pandas as pd

from pandas import Series,DataFrame

In [6]:
#Lets create a Series (array of data and data labels, its index)
obj = Series([3,6,9,12])

#Show series
obj

0     3
1     6
2     9
3    12
dtype: int64

In [7]:
#Lets show the values
obj.values

array([ 3,  6,  9, 12])

In [8]:
#Lets show the index
obj.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
#Now lets create a Series with an index

#WW2 casualties 
ww2_cas = Series([8700000,4300000,3000000,2100000,400000],index=['USSR','Germany','China','Japan','USA'])

#Show
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [10]:
#Now we can use index values to select Series values
ww2_cas['USA']

400000

In [11]:
#Converting index to dictionary
ww2_dict = ww2_cas.to_dict()

#Show dictionary
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [13]:
#Converting dictionary back to Series
ww2_cas = Series(ww2_dict)

#Show Series
ww2_cas

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [14]:
#Can also check with array operations

#Check who had casualties greater than 4 million
ww2_cas[ww2_cas>4000000]

Germany    4300000
USSR       8700000
dtype: int64

In [15]:
#Can treat Series as ordered dictionary

#Check if USSR is in Series
'USSR' in ww2_cas

True

In [16]:
#Passing a dictionary the index will have the dict keys in order
countries = ['China','Germany','Japan','USA','USSR','Argentina']

In [21]:
#Creating series from dictionary but with new index
ww2_cas_new = Series(ww2_dict, index = countries)

In [22]:
#Show new Series
ww2_cas_new

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [23]:
#Adding 2 Series together
ww2_cas + ww2_cas_new

China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
Argentina           NaN
dtype: float64

In [24]:
#Naming the Series
ww2_cas.name = "WW2 Casualties"

ww2_cas

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: WW2 Casualties, dtype: float64

In [25]:
#Naming the index
ww2_cas.index.name = "Countries"

In [26]:
ww2_cas

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: WW2 Casualties, dtype: float64