In [2]:
import numpy as np
from pandas import Series, DataFrame

import pandas as pd
from numpy.random import randn

In [3]:
#Lets create a new series
ser1 = Series([1,2,3,4],index=['A','B','C','D'])

In [4]:
#Show
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
#Call reindex to rearrange the data to a new index
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [6]:
#Show
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [7]:
# We can also fill in values for new indexes
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [8]:
#Using a particular method for filling values
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])

#Show
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [10]:
ranger = np.arange(15)

In [12]:
#Can use a forward fill for interploating values vetween indices 
ser3.reindex(range(15),method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [24]:
#Reindexing rows, columns or both

#Lets make a datafram ewith some random values
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])

#Show
dframe

       col1      col2      col3      col4      col5
A -1.509862 -0.111100  1.340919  2.328193 -0.792773
B -1.212379 -1.059215 -0.142365 -1.010958  0.332304
D  1.065933 -2.229123 -0.042794 -2.616887  1.070168
E -0.603723  0.965603 -1.121814  0.166476  1.146221
F  0.077320 -0.123125  0.569629  0.918645 -0.257454

In [25]:
#Notice we forgot 'C' , lets reindex it into dframe
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [26]:
#Can also explicitly reindex columns
new_columns = ['col1','col2','col3','col4','col5','col6']

dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -1.509862 -0.111100  1.340919  2.328193 -0.792773   NaN
B -1.212379 -1.059215 -0.142365 -1.010958  0.332304   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.065933 -2.229123 -0.042794 -2.616887  1.070168   NaN
E -0.603723  0.965603 -1.121814  0.166476  1.146221   NaN
F  0.077320 -0.123125  0.569629  0.918645 -0.257454   NaN

In [27]:
#Reindex quickly using the label-indexing with ix (we'll see this more in the future)

#Show original
dframe

       col1      col2      col3      col4      col5
A -1.509862 -0.111100  1.340919  2.328193 -0.792773
B -1.212379 -1.059215 -0.142365 -1.010958  0.332304
D  1.065933 -2.229123 -0.042794 -2.616887  1.070168
E -0.603723  0.965603 -1.121814  0.166476  1.146221
F  0.077320 -0.123125  0.569629  0.918645 -0.257454

In [28]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A -1.509862 -0.111100  1.340919  2.328193 -0.792773   NaN
B -1.212379 -1.059215 -0.142365 -1.010958  0.332304   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.065933 -2.229123 -0.042794 -2.616887  1.070168   NaN
E -0.603723  0.965603 -1.121814  0.166476  1.146221   NaN
F  0.077320 -0.123125  0.569629  0.918645 -0.257454   NaN